<% title 'Главная' %>
<div class="col-md-10 col-xs-12 col-md-offset-1">
  <div class="jumbotron">
    <h1>Отзывы на дешёвое вино</h1>
    <p>Прежде чем покупать незнакомое пойло, прочитай что это может быть</p>
  </div>
</div>