<% title 'Главная' %>
<div class="col-md-10 col-xs-12 col-md-offset-1">
  <div class="jumbotron">
    <h1>Отзывы на дешёвое вино</h1>
    <p>Здесь можно в двух словах понять что же в этой непонятной бутылке</p>
  </div>
</div>